.root {
  background: #222222;
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
  border-radius: 0;
  .info {
    display: flex;
    align-items: center;
  }
  .profile {
    display: flex;
    align-items: center;
  }
}